#navlist{
            width: 100vw;
            list-style: none;
            font-size: 2.5rem;
            /* margin-left: 15px;
            margin-right: 15px; */
            background-color:#DDD1A9;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            gap: 5px;
            
        }
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .container{
            height: 100%;
            width: 100vw;
            overflow-x: none;
            background-color: burlywood;
            overflow: hidden;
            gap: 5px;
        }
        .navcontainer{
                width: 100vw;             
                overflow-x: none;
                background-color: #DDD1A9;
                min-height: 80px;
                display: flex;
                justify-content: center;
                border: 1px black solid;
                border-radius: 2px;
                position: relative;
                overflow: hidden;
                
        }
        #navlogo{
            color: black;
            /* font-style: italic; */
            font-size: 2.5rem;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: last baseline;
            overflow: hidden;
        }
        #navlogo:hover{
            /* transform: scale(1.1); */
            transform: scale(1.1);
            transition: all;
            transition-duration: 0.3s;
            transition-delay: 0.1s;
            transition-timing-function: linear;
            overflow: hidden;
            animation: alternate-reverse;
        }
        a{
          text-decoration: none;
        }
        #navitems{
            display: flex;
            gap: 30px;
            color: black;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: last baseline;
            
            
        }
        #navitems .box1{
            border-radius: 10px;
            box-shadow: 1px 1px 30px black ;
            background-color: antiquewhite;
            padding: 2px;
        }
        #navitems .box1:hover{
            transform: scale(1.1);
            transition: all;
            transition-duration: 0.3s;
            transition-delay: 0.1s;
            transition-timing-function: linear;
        }
        #navitems .box2{
            border-radius: 10px;
            box-shadow: 1px 1px 30px black ;
            background-color: antiquewhite;
            padding: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #navitems .box2:hover{
            transform: scale(1.1);
            transition: all;
            transition-duration: 0.3s;
            transition-delay: 0.1s;
            transition-timing-function: linear;
        }
        #navitems .box3{
            border-radius: 10px;
            box-shadow: 1px 1px 30px black ;
            background-color: antiquewhite;
            padding: 2px;
        }
        #navitems .box3:hover{
            transform: scale(1.1);
            transition: all;
            transition-duration: 0.3s;
            transition-delay: 0.1s;
            transition-timing-function: linear;
        }
        #navmotto{
            color: black;
        }
        .contentbox{
            width: 70%;
            height: 75%;
            margin: auto;
            /* border: 2px solid black; */
            background-color: rgb(224, 164, 81);
            display: flex;
            flex-direction: column;
            gap: 100px;
            padding: 3rem;
            box-shadow: 1px 1px 30px black ;
            padding: 20px;
            overflow: hidden;
            border-radius: 20px;
        }
        .item{
            display: flex;
            justify-content: space-around;
            align-items:center ;
            padding: 10px;

        }
        .rightbox{
            position: relative;
            overflow: hidden;
            box-shadow: inset 1px 1px 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            border: 1px black solid;
            border-radius: 20px;
            height: 500px;
            width: 400px;
            box-shadow: 1px 1px 30px black ;
        }
        .rightbox img{
            height: 500px;
            width: 400px;
            border-radius: 20px;
            
            
        }
        .rightbox:hover{
            transform: scale(1.1);
            transition: all;
            transition-duration: 0.6s;
            transition-delay: 0.5s;
            transition-timing-function: linear;
            border-radius: 20px;
            color: grey;
            opacity: 1;
        }
        .leftbox{
            display: flex;
            flex-direction: column;
            gap: 20px;
            border: 1px black solid;
            border-radius: 20px;
            height: 500px;
            width: 400px;
            padding: 3rem;
            box-shadow: 1px 1px 30px black ;
            background-color: antiquewhite;

        }
        .leftbox:hover{
            transform: scale(1.1);
            transition: all;
            transition-duration: 0.6s;
            transition-delay: 0.5s;
            transition-timing-function: linear;
            border-radius: 20px;
        }
        .leftbox h2{
            font-size: 2rem;
        }
        .ingbox{
            font-size: 1.1rem;
        }
        .reciepbox{
            font-size: 1.1rem;
        }
        .rightbox .overlay{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            /* background-color: grey; */
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            border-radius: 20px;
        }
        .rightbox .overlay .a{
            font-size: 1.2rem;
            color: white;
        }
        /* .rightbox:hover .overlay{
            background-color: grey;
            opacity: 1;
        } */
        .end{
            
            align-content: center;
         }
        